@model UniversityMS.Models.Course

@{
    ViewBag.Title = "Unassign Courses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="card border-danger mb-3" style="max-width: 23rem; margin: auto">
    <div class="card-header"><h2>Unassign Courses</h2></div>
    <div class="card-body" style="margin: auto"">
        <button type="button" id="unassignButton" class="btn btn-danger btn-lg">Unassign Courses</button>
    </div>
</div>

